<h1> Welcome To My Friends</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis suscipit nostrum vitae soluta modi doloribus, unde quibusdam recusandae? Perspiciatis reiciendis commodi similique dolor dolore dolorum ipsa quidem soluta expedita!</h2>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae natus ullam porro provident dolorem tempora, laborum vel suscipit earum. Velit voluptates adipisci illo quis neque, quae ratione ipsam porro sint.</h3>
<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos exercitationem aut deserunt cumque assumenda asperiores unde aliquid esse. Aliquam sequi quibusdam temporibus nostrum corporis delectus natus excepturi incidunt quasi facilis.</h5>

<div style="font-size: 40px;">
    <span>Hello</span>
</div>